@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: hsl(0 0% 100%);
		--foreground: #2d2d2d;

		--card: hsl(0 0% 100%);
		--card-foreground: #2d2d2d;

		--popover: hsl(0 0% 100%);
		--popover-foreground: #2d2d2d;

		--primary: #0fab5f;
		--primary-foreground: hsl(210 40% 98%);
		--primary-surface: #eff8ff;

		--secondary: hsl(210 40% 96.1%);
		--secondary-foreground: hsl(222.2 47.4% 11.2%);

		--muted: hsl(210 20% 96.1%);
		--muted-foreground: hsl(215.4 16.3% 46.9%);

		--accent: hsl(210 40% 96.1%);
		--accent-foreground: hsl(222.2 47.4% 11.2%);

		--destructive: hsl(0 84.2% 60.2%);
		--destructive-foreground: hsl(210 40% 98%);

		--border: hsl(214.3 31.8% 91.4%);
		--input: hsl(214.3 31.8% 91.4%);
		--ring: #2d2d2d;

		--radius: 0.5rem;
	}

	.dark {
		--background: hsl(222.2 84% 4.9%);
		--foreground: hsl(210 40% 98%);

		--card: hsl(222.2 84% 4.9%);
		--card-foreground: hsl(210 40% 98%);

		--popover: hsl(222.2 84% 4.9%);
		--popover-foreground: hsl(210 40% 98%);

		--primary: hsl(210 40% 98%);
		--primary-foreground: hsl(222.2 47.4% 11.2%);

		--secondary: hsl(217.2 32.6% 17.5%);
		--secondary-foreground: hsl(210 40% 98%);

		--muted: hsl(217.2 32.6% 17.5%);
		--muted-foreground: hsl(215 20.2% 65.1%);

		--accent: hsl(217.2 32.6% 17.5%);
		--accent-foreground: hsl(210 40% 98%);

		--destructive: hsl(0 62.8% 30.6%);
		--destructive-foreground: hsl(210 40% 98%);

		--border: hsl(217.2 32.6% 17.5%);
		--input: hsl(217.2 32.6% 17.5%);
		--ring: hsl(212.7 26.8% 83.9%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html,
	body,
	#root {
		@apply h-full w-full;
	}
	body {
		@apply bg-background text-foreground;
	}
}
